body{padding: 5em;
background-color:#191919}

h1{font-family: 'Shrikhand', serif;
text-align: center;
color:#3E8914;
font-size: 4em}



h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
color:#427AA1;
font-size: 2.5em}

p{font-family: 'Patrick Hand', cursive;
    text-align: center;
width:750px;
color:#427AA1;
font-size:1.5em;
}
/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}